body{
    background-color: #222;
    color: #FFF;
    font-size: 1.2rem;
    font-family: 'Noto Sans', sans-serif;
}
li{
    user-select: none;
    cursor: pointer;
    margin: 4px 10px
}
.strike{
    text-decoration: line-through;
    color: gray;
}
input{
    height: 40px;
    width: 300px;
    font-size: 1.1rem;
    border: none;
    border-radius: 3px;
}
button{
    padding: 11px 20px;
    font-size: 1.1rem;
    width: 130px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin: 0 10px;
    color: white;
    transition: all 0.3s;
}
.input-btn{
    background-color: rgb(64, 64, 216);
}
.input-btn:hover{
    background-color: rgb(45, 45, 249);
}
.del-list{
    background-color: rgb(230, 74, 74);
}
.del-list:hover{
    background-color: rgb(252, 24, 24)
}